@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

/* Start Global Classes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

button{
    cursor: pointer;
}

/* End Global Classes */


header {
    max-width: 1250px;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    display: inline-block;
    padding: 0px 20px;
    color: #C4C4C4;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

nav ul li:hover {
    color: rgba(5, 139, 140, 1);
    cursor: pointer;
}

.header_btn {
    border-radius: 48px;
    background: #058B8C;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.20), 3px 4px 10px 0px rgba(0, 0, 0, 0.20) inset;
    padding: 10px 20px;
    color: #fff;
}

.header_btn:hover {
    color: #fff;
}

/* banner */
/* main content */
.main-content{
    /* max-width: 1250px; */
    /* margin: auto; */
    min-height: 300px;
}

.container{
    max-width: 1250px; 
    margin: auto;
}

/* banner section css */
.banner-section{
    background: url('../assets/images/home/banner/bg_banner_pattern.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    padding-top: 50px;
    padding-bottom: 50px;

    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: 335px;
}
.banner-section .banner-inner-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.banner-section .banner-content{
    display: flex;
    align-items: center;
}
.banner-section .content-wraper small{
    background: #058B8C;
    border-radius: 30px;
    color:#fff;
    padding: 5px 10px;
    margin-bottom: 10px;
    display: inline-block;
}
.banner-section .content-wraper h4{
    color: #1E1E1E;
    font-family: Rubik;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.8px;
}
.banner-section .content-wraper h2{
    color: #1E1E1E;
    font-family: Rubik;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -3.6px;
    margin-bottom: 20px;
}
.banner-section .content-wraper span{
    color: #058B8C;
}
.banner-section .content-wraper p{
    color: #1E1E1E;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 25px;
}

.banner-section .content-wraper .banner-btns .btn-style{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 35px;
    border-radius: 25px;
}
.banner-section .content-wraper .banner-btns .btn-style-1{
    background: #8D0F11;
    color:#fff;
    border:solid 1px #8D0F11;
    margin-right: 10px;
}


.banner-section .content-wraper .banner-btns .btn-style-1:hover{
    border: 1px solid #1E1E1E;
    background-color: #fff;
    color:#1E1E1E;
    transition: .2s ease-in;
}

.banner-section .content-wraper .banner-btns .btn-style-2{
    color: #1E1E1E;
    border: 1px solid #1E1E1E;
    background-color: transparent;
}

.banner-section .content-wraper .banner-btns .btn-style-2:hover{
    color: #fff;
    background-color: #8D0F11;
    transition: .2s ease-in;
    border: 1px solid transparent;
}
.banner-image{
    background-image: url('../assets/images/home/banner/bg_banner_right-shadow.svg');
    background-position: 0;
    background-repeat: no-repeat;
    background-size: 300px;
    float: right;
    width: 375px; 
}
.banner-image img{
    border-radius: 185px;
    padding-left: 25px;
    width: 100%;
}


/* services section */
.services-section{
    padding-top: 50px;
    padding-bottom: 50px;
}
.services-section .services-inner-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.services-section .service-box {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services-section .service-box .icon-wraper{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px #e4e4e4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0 0 50px 0 rgba(0,0,0,.08);
}
.services-section .service-box .icon-wraper img{
    width: 100px;
}
.services-section .service-box h4{
    font-size: 24px;
}

/* services section */
.ourServies {
    padding: 50px 0px;
}

.card_grid {
    margin-top: 1rem;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px; */
}

.service_card {
    position: relative;
    width: 100%;
    height: 350px;
    border-radius: 10px;
}

.service_card img {
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.service_card .over_lay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 24%, rgba(255, 255, 255, 1) 97%);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.service_card .over_lay .content {
    text-align: center;
    margin-bottom: 1rem;
}

.service_card .over_lay .content h2 {
    color: #1E1E1E;
    font-family: Rubik;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    /* 125% */
}

.service_card .over_lay .content button {
    width: 100%;
    border-radius: 30px;
    border: 1px solid white;
    background: transparent;
    padding: 14px 30px;
    color: #FFF;
    text-align: center;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    display: none;
}

.service_card:hover {
    cursor: pointer;
}


.service_card:hover .over_lay {
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
}

.service_card:hover .over_lay h2 {
    color: white;
}

.service_card:hover .over_lay button {
    display: block;
}

.carousel-container {
    width: 100%; /* Adjust this value as needed */
  }
 /* .react-multi-carousel-item {
    margin-right: 10px;
} */

/* .react-multi-carousel-item:last-child{
    margin-right: 0;
}  */

.carouselItem{
    padding-right: 10px
}  

.react-multiple-carousel__arrow::before {
    font-size: 15px !important;
}

.react-multiple-carousel__arrow--left {
    left: calc(.5% + 1px) !important;
}

.react-multiple-carousel__arrow--right {
    right: calc(.5% + 1px) !important;
}
.react-multiple-carousel__arrow {
    min-width: 30px !important;
    min-height: 30px !important;

}


.global_title {
    color: #1E1E1E;
    font-family: Rubik;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.8px;
}

.global_title span {
    color: #058B8C;
    font-family: Rubik;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.8px;
}

/* who we are section */
.who-section{
    padding-top: 100px;
    padding-bottom: 50px;
}
.who-section .who-inner-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.who-section .who-content{
    display: flex;
    align-items: center;
}
.who-image{
    padding-right: 120px;
    background: url('../assets/images/home/banner/bg_banner_right-shadow.svg');
    background-repeat: no-repeat;
    background-position: 70% 50%;
    background-size: 60%;
}
.who-image img{
    border-radius: 50%;
    width: 100%;
}
.who-section .content-wraper h2{
    color: #1E1E1E;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.8px;
    margin-bottom: 20px;
}
.who-section .content-wraper p{
    color: #1E1E1E;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.who-section .content-wraper span{
    color: #058B8C;
    font-weight: 700;
}
/* who we are section */
.company-section{
    background: #058B8C;
    padding-top: 50px;
    padding-bottom: 50px;
}
.company-section .company-inner-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.company-section .company-content{
    display: flex;
    align-items: center;
}
.company-image{
    padding-right: 50px;
    padding-left: 60px;
    background: url('../assets/images/home/banner/bg_banner_right-shadow.svg');
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-size: 60%;
}
.company-image img{
    border-radius: 50%;
    width: 100%;
}
.company-section .content-wraper h2{
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.8px;
    margin-bottom: 20px;
    color: #fff;
}
.company-section .content-wraper h2 span{
    font-weight: 700;
}
.company-section .content-wraper p{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: #fff;
}

/* emergency section */
.emergency-section{
    background: #058B8C;
    padding-top: 50px;
    padding-bottom: 50px;
}
.emergency-section .emergency-inner-content{
    color: #fff;
    text-align: center;
}
.emergency-section .emergency-inner-content h4{
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.8px;
    margin-bottom: 20px;
}
.emergency-section .emergency-inner-content p{
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.26px;
}
.emergency-section .emergency-inner-content p i{
    margin-right: 10px;
}

/* emergency section */
.client-section{
    padding-top: 50px;
    padding-bottom: 50px;
}
.client-section .client-inner-content{
    text-align: center;
}
.client-section .client-inner-content h4{
    color: #1E1E1E;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.8px;
    margin-bottom: 20px;
}
.client-section .client-inner-content h4 span{
    color: #058B8C;
}
.client-section .client-inner-content p{
    color: #1E1E1E;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.client-reviews{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    margin-top: 40px;
}

.client-reviews .review-block{
    background: #fff;
    border-radius: 30px;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,.1);
    padding: 30px;
}

.client-reviews .review-block .review-top-sec{
    display: flex;
    align-items: center;
    width: 100%;
}

.client-reviews .review-block .review-top-sec .review-img-wrapper{
    width: 150px;
}
.client-reviews .review-block .review-top-sec .review-img-wrapper img{
    width: 100%;
}

.client-reviews .review-block .review-top-sec .review-rating{
    padding-left: 20px;
    width: 100%;
}

.client-reviews .review-block .review-top-sec .review-rating h2{
    text-align: left;
    color: #1e1e1e;
    font-family: Rubik;
    font-size: 29px;
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
}
.review-rating-score{
    color: #1e1e1e;
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
}

.review-rating-score{
    display: flex;
    margin-top: 10px;
    width: 100%;
    justify-content: space-between;
}

.client-reviews .review-block .review-bottom-sec p{
    color: #1e1e1e;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    margin-top: 10px;
    text-align: left;
}



/* footer */
footer {
    max-width: 1250px;
    margin: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.coloumn_three ul li {
    list-style: none;
    color: #8F8F8F;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 12px 0px;
}

.news_letter {
    display: flex;
    padding: 15px 0px;
}

.news_letter input {
    width: 75%;
    border-radius: 341px;
    border: 2px solid #058B8C;
    height: 48px;
    padding-left: 15px;
}

.news_letter button {
    width: 23%;
    margin-left: 1rem;
    border-radius: 48px;
    background: #058B8C;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.20), 3px 4px 10px 0px rgba(0, 0, 0, 0.20) inset;
    color: #FFF;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    /* 166.667% */
    border: none;
}


footer .coloumn_one p{
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #8F8F8F;
    margin-top: 15px;
    
}

footer .coloumn_two{
    display: grid;
    grid-template-columns: auto auto;
}

footer .coloumn_two .footer_listing:first-child{
    display: flex;
    justify-content: center;
}

footer .coloumn_two ul{
    list-style: none;
}

footer .coloumn_two ul li{
    margin-bottom: 25px;
}

footer .coloumn_two ul li:last-child{
    margin-bottom: 0;
}

footer .coloumn_two ul li a{
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    color: #8F8F8F;
    text-decoration: none;
 
}

footer .coloumn_two ul li a:hover{
    color:#1E1E1E;
}

.footer_end{
    border-top:.5px solid #C4C4C4;
}

.footer_end{
    max-width: 1250px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.footer_end p{
font-family: Rubik;
font-size: 14px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
color:#8F8F8F;
padding: 10px 0;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    header{
        display: block;
    }

    .banner-section .banner-inner-content {
        display: grid;
        grid-template-columns: 1fr;
    }

    .banner-section .banner-content .content-wraper{
        padding: 15px;
    }

    .banner-section .content-wraper h2 {
        font-size: 42px;
        margin-bottom: 10px;
    }
    
    .banner-section .content-wraper p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 10px;
    }

    .banner-btns{
        display: flex;
    }

    .banner-section .content-wraper .banner-btns .btn-style {
        font-size: 14px;
        padding: 10px 15px;
    }

    .banner-section {
        background: url('../assets/images/home/banner/banner.svg');
        background-repeat: no-repeat;
        background-size: contain;
        /* background: linear-gradient(180deg, rgba(249, 249, 249, 0.00) 0%, rgba(249, 249, 249, 0.79) 47.1%, #F9F9F9 100%); */
    }

    .banner_image_placement{
        display: none;
    }

    .services-section .services-inner-content {

        grid-template-columns: 1fr;
    }

    .who-section .who-inner-content {
        grid-template-columns: 1fr;
    }

    .company-section .company-inner-content {
        grid-template-columns: 1fr;
    }
   
    /* Client Review  */
    .client-reviews .review-block {     
        margin-top: 20px;
    }

    .client-reviews{
        grid-template-columns: 1fr ;
        column-gap: 0;
        margin-top: 20px;
    }

    /* Footer */

    footer{
       grid-template-columns: 1fr;
    }
    footer .coloumn_two {
        grid-template-columns: 1fr;
    }

 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }